body {
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    padding: 0;
    background-color: #e0e5eb;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #007bff;
    padding: 0px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

.aboutme-text {
    line-height: 1.6;
    padding-left: 20px;
    margin-bottom: 10px;
    word-break: keep-all;
}

.biography-text {
    line-height: 1.6;
    padding-left: 20px;
    margin-bottom: 10px;
}

.container {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    background: white;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    font-size: 1.1em;
    background: #d5ddec;
    padding: 15px;
    border-radius: 8px;
}

.profile-img {
    width: 220px;
    height: 260px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid #007bff;
}

.profile-info p {
    margin: 0 0;
    font-size: 1.1em;
    word-break: keep-all;
}

.profile-info p1 {
    margin: 0px 0px;
    font-size: 1.7em;
}

section {
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

#about,
#biography,
#publications,
#link {
    align-items: center;
    width: 95%;
    background: #eef4ff;
    padding: 25px;
    border-radius: 8px;
}

[id*="-list-en"] {
    text-align: justify;
    padding-left: 40px;
    list-style-type: decimal-leading-zero;
    margin: 10px 0 auto;
    width: 95%;
    word-break: keep-all;
}

[id*="-list-jp"] {
    text-align: start;
    padding-left: 40px;
    list-style-type: decimal-leading-zero;
    margin: 10px 0 auto;
    width: 95%;
    word-break: break-all;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    position: relative;
    width: 100%;
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .container {
        width: 90%;
        margin: 20px auto;
        padding: 15px;
    }

    nav ul li {
        display: block;
        text-align: start;
        margin: 1px 0;
    }

    nav ul li a {
        font-size: 0.9em;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
        width: 95%;
        margin: 10px auto;
    }

    .profile-img {
        width: 150px;
        height: 150px;
    }

    .aboutme-text {
        line-height: 1.6;
        padding-left: 10px;
        margin-bottom: 5px;
    }

    .biography-text {
        line-height: 1.6;
        padding-left: 10px;
        margin-bottom: 5px;
    }

    h2 {
        font-size: 1.2em;
    }

    section {
        margin-bottom: 25px;
        padding: 10px;
        border-radius: 5px;
    }

    #about,
    #biography,
    #publications,
    #link {
        width: 95%;
        margin: 2cap auto;
        background: #eef4ff;
        padding: 10px;
        border-radius: 5px;
    }

    .profile-info p {
        font-size: 1.0em;
    }

    .profile-info p1 {
        font-size: 1.2em;
    }

    [id*="-list-en"] {
        padding-left: 10px;
        font-size: 0.7em;
        margin: 3px 0 auto;
    }

    [id*="-list-jp"] {
        text-align: justify;
        padding-left: 10px;
        font-size: 0.7em;
        margin: 3px 0 auto;
        word-break: break-all;
    }
}